body {
    background-color: rgba(119, 65, 73, 0.559);
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 15rem;

}

button {
    background-color: white;
    border: dotted 5px #535959;
    color: red;
}

button:hover {
    background-color: pink;
    border: dotted 5px #535959;
    color: white;
    cursor: pointer;
}

.middle {
    text-align: center;
    position: relative;
    color: rgb(109, 35, 35);
    ;
    font-size: 22px;
}

#secret {
    background-color: rgba(119, 65, 73, 0.559);
    ;
    overflow: hidden;
}

.skii {
    color: rgb(109, 35, 35);
}